$bg-color: #E8DB99
$text-color: #353431
$white: #E8DB99
$blue: #3251EF

// $bg-color: #FFD300
// $text-color: #1B1B1B
// $white: #FEFEFE
// $blue: #002BFF

$title: 'Space Grotesk', sans-serif
$body: 'Poppins', sans-serif